* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: green;
}

#heroContainer {
  position: relative;
  overflow: hidden;
}

.heroImage {
  background-image: url("https://img.freepik.com/free-vector/tropical-landscape-with-sea-bay-night_107791-5364.jpg?t=st=1645275614~exp=1645276214~hmac=d7acd973550d739521a0bc4352c91bde11be70f2adcb6d1c853b510f74295f6c&w=2000");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.portfolioHead {
  color: black;
  text-align: center;
  font-size: 6.25em;
  opacity: 0.7;
  padding: 10px;
  text-shadow: 1px 1px 10px white;
}

/* Navigation bar */

ul {
  text-align: center;
}

li {
  color: #000000;
  font-size: 17px;
  display: inline-block;
  padding: 16px;
  margin: auto;
  text-align: center !important;
}

a {
  text-decoration: none;
}

nav li:hover {
  background-color: rgb(56, 97, 230);
}

/* body */

/* Portfolio  section */
.underSea {
  height: 100vh;
  margin-top: -140px;
  background: linear-gradient(#00dcda, #039bca);
  padding: 100px 25px 0px 25px;
}

.fadeIn {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.testing {
  display: none;
}

/* .portfolioContainer,
.skillContainer {
  display: flex; This causes issues in mobile browsers
  background-color: rgb(162, 212, 253);
  max-width: 100%;
  padding: 50px;
  border-top: 2px solid black;
} */

.meContainer {
  display: flex;
  background-color: #68b6ff;
  max-width: 100%;
  padding: 50px;
  border-top: 2px solid black;
}

.textContainer {
  /* align-items: stretch; */
  display: none;
}

/* Left */

img {
  max-width: 100%;
  height: auto;
}

.imgContainerPortfolio {
  border: 2px solid black;
  text-align: center;

  overflow: hidden;
  margin: 25px;

  flex-basis: 300px; /* Keeps the contaier fixed size of 300px*/
  flex-grow: 0;
  flex-shrink: 0;
}

.leftTitle {
  font-size: 50px;
  background-color: #006091;
  text-align: center;
  transform: rotate(350deg);
  border: 1px solid black;
  padding: 0px 20px;
  width: fit-content;
}

p.leftContent {
  margin-top: 25px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", sans-serif;
  text-align: justify;
  line-height: 1.5;
}

/* Right */

.imgContainerRight {
  text-align: center;

  overflow: hidden;
  margin-left: 25px;

  flex-basis: 300px; /* Keeps the contaier fixed size */
  flex-grow: 0;
  flex-shrink: 0;
}

.rightTitle {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p.rightContent {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: justify;
  line-height: 1.5;
}

/* Contact CSS*/

.cmImgContainer {
  height: 200px;
  max-width: 100%;
  background-color: rgb(104, 182, 255);
  padding: 20px 0px 0px 0px;
  border-top: 2px solid black;
}

.cmImg {
  max-width: 100%;
  height: 100%;
  background-image: url("images/csBackImg.png");
  background-repeat: no-repeat;
}

.totalMsgContainer {
  padding: 20px;
}

.msg1Container {
  text-align: center;

  background-color: #2948f7;
  height: 100px;
  width: 350px;
  transform: rotate(-20deg);
  margin-left: 150px;
  border: 2px solid black;
  padding: 0px 25px;
}

.msg1 {
  font-size: 4.5em;
  margin: auto;
  display: inline-block;
}

.msg2Container {
  background-color: #489cfc;
  height: 100px;
  width: 200px;
  text-align: center;
  transform: rotate(25deg);
  margin-left: 300px;
  border: 2px solid black;
  padding: 0px 20px;
}

.msg2 {
  font-size: 4.5em;
  margin: auto;
}

@media (max-device-width: 600px) {
  .portfolioHead {
    color: black;
    text-align: center;
    font-size: 5em;
    opacity: 0.7;
  }

  .formContainer {
    padding: 0px 10px !important;
  }

  .msg1Container {
    width: 275px;
    transform: rotate(-20deg);
    margin-left: 90px;
    margin-top: -35px;
    border: 2px solid black;
    padding: 10px 10px;
  }

  .msg1 {
    font-size: 4em;
  }

  .msg2Container {
    height: 100px;
    width: 160px;
    text-align: center;
    transform: rotate(25deg);
    margin-left: 210px;
    border: 2px solid black;
    padding: 0px 20px;
  }
  .row {
    display: block !important;
  }

  .col {
    width: 100% !important;
    padding: 0px !important;
  }

  footer {
    /* height: 23vh !important; */
  }
}
/* ====================================================================== */

.contactDetailsContainer {
  border-top: 2px solid black;
  padding: 50px;
  background-color: rgb(99, 171, 253);
}

.contactDetails {
  text-align: center;
  line-height: 1.5;

  border: 3px dashed #2948f7;
  border-radius: 25px;
  background-color: rgb(72, 156, 252);
  padding: 25px;
  font-size: 20px;
}

.socialMediaB {
  margin: 20px 10px;
}

.formContainer {
  border-radius: 5px;
  /* padding: 0px 20px; */
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  /* margin: 0 -16px; */
}

.col {
  width: 50%;
  padding: 0 25px;
  margin-top: 6px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(62, 62, 187);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  border-top: 2px solid black;
  background-color: rgb(111, 170, 247);
  height: 60vh;
  background-image: url("https://img.freepik.com/free-vector/treasure-sea-bottom-chest-with-golden-coins-crown-crystal-gems-sword-gold-idol-goblet-with-precious-rocks_107791-5247.jpg?t=st=1645284682~exp=1645285282~hmac=edfb6df66d45491ea9ba2e5644b0bb99ed76471ae8939889b4bb0cb31d28721e&w=1800");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

/* .footerBackground {
  background-image: url("https://img.freepik.com/free-vector/treasure-sea-bottom-chest-with-golden-coins-crown-crystal-gems-sword-gold-idol-goblet-with-precious-rocks_107791-5247.jpg?t=st=1645284682~exp=1645285282~hmac=edfb6df66d45491ea9ba2e5644b0bb99ed76471ae8939889b4bb0cb31d28721e&w=1800");
} */

.messageBox {
  text-align: center;
  padding: 15px;

  margin: auto;
  margin-top: 75px;

  border-bottom: 4px solid rgb(37, 19, 138);

  border-radius: 20px 20px 20px 20px;
  background-color: #3e5ff3;

  width: 30%;
}

.copyright {
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  margin: 20px;
}

/* ====================================================================== */
/* Classes used by Javascript*/

/* Valid */
.valid {
  border: 2px solid lawngreen;
  outline: forestgreen solid 2px;
}

/* Invalid */

.invalid {
  border: 2px solid pink;
  outline: red solid 2px;
}
