@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  background-color: #000;
}

/* testing sticky */
/* .sticky {
  top: 0;
  position: sticky !important;
  color: white;
} */

#mobileButton {
  display: none;
}

/* Header */
.headContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  align-items: flex-start;
}

nav .portFolioTitle {
  color: white;
  top: 0;
  width: 100%;
  text-align: center;
  font-size: 5em;
  object-fit: contain;
}

.navContainer {
  margin: auto 0 auto 0;
  text-align: center;
  align-items: center;
  background-position: center;
}

nav ul li {
  display: inline-block;
}

li {
  color: #ffffff;
  font-size: 1em;
  padding: 16px;
  margin: auto;
  text-align: center;
}

nav li:hover {
  background-color: #006091;
  border-radius: 50px;
}

/* Parallax Layers */
.layer-parent {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.layer-parent .layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.layer-parent .whiteMoon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0px auto;
}

.layer-parent .stars {
  position: absolute;
}

.layer-parent .meteor {
  position: absolute;
}

.blend {
  mix-blend-mode: screen;
}

/* Portfolio  section */
.underSea {
  background: linear-gradient(#00dcda, #039bca);
  padding: 60px 0px;
}

.portfolioContainer .fadeIn {
  animation: fadeIn 1s;
}

.portfolioContainer {
  height: 15em;
  width: 20em;
  background: lightblue;
  color: black;
  margin: 4em auto;
  text-align: left;
  border: 1px solid black;

  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
  height: auto;
}

.portfolioContainer div {
  margin: 10px 20px 10px 20px;
  font-size: 1.25em;
}

.portfolioContainer div.text {
  /* width: fit-content; */
  width: 23em;
  border: 2px solid #006091;
}

.portfolioContainer div.portfolioTitle {
  font-weight: 900;
}

.portfolioContainer div.portfolioDescription {
  font-style: italic;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeOut {
  animation: fadeOut 1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.textContainer {
  display: none;
}

/* Left */

.leftTitle {
  font-size: 50px;
  background-color: #006091;
  text-align: center;
  transform: rotate(350deg);
  border: 1px solid black;
  padding: 0px 20px;
  width: fit-content;
}

/* About me ================================================================= */
.aboutMeContainer {
  background: linear-gradient(#039bca, rgb(32, 32, 149));
  padding: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#aboutMe .seahorse {
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
  padding-right: 25px;
}
@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}

.contentContainer {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.myMessageContainer {
  border: 2px solid black;
}

.myMessage {
  color: black;
  font-size: 1em;
}

/* Skills =================================================================*/
.skillContainer {
  background-color: coral;
  padding: 20px;
}

.skillsLogo {
  font-size: 5em;
}

.logoSpace {
  justify-content: space-evenly;
}

.logoText {
  font-size: 2em;
}

.logoContainer {
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Contact =================================================================*/

.cmImgContainer {
  height: 200px;
  max-width: 100%;
  background-color: rgb(104, 182, 255);
  padding: 20px 0px 0px 0px;
  border-top: 2px solid black;
}

.cmImg {
  max-width: 100%;
  height: 100%;
  background-image: url("images/csBackImg.png");
  background-repeat: no-repeat;
}

.totalMsgContainer {
  padding: 20px;
}

.msg1Container {
  text-align: center;
  background-color: #2948f7;
  height: 100px;
  width: 350px;
  transform: rotate(-20deg);
  margin-left: 150px;
  border: 2px solid black;
  padding: 0px 25px;
}

.msg1 {
  font-size: 4.5em;
  margin: auto;
  display: inline-block;
}

.msg2Container {
  background-color: #489cfc;
  height: 100px;
  width: 200px;
  text-align: center;
  transform: rotate(25deg);
  margin-left: 300px;
  border: 2px solid black;
  padding: 0px 20px;
}

.msg2 {
  font-size: 4.5em;
  margin: auto;
}

/* ====================================================================== */

.contactDetailsContainer {
  border-top: 2px solid black;
  padding: 50px;
  background-color: rgb(99, 171, 253);
  color: #000;
}

.contactDetails {
  text-align: center;
  line-height: 1.5;
  border: 3px dashed #2948f7;
  border-radius: 25px;
  background-color: rgb(72, 156, 252);
  padding: 1.5em;
  font-size: 20px;
}

.smLogo {
  margin: 20px 10px;
  font-size: 2em;
}

.formContainer {
  border-radius: 5px;
  /* padding: 0px 20px; */
  text-align: left;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  width: 50%;
  padding: 0 25px;
  margin-top: 6px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(62, 62, 187);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  border-top: 2px solid black;
  background-color: rgb(111, 170, 247);
  height: 40vh;
  background-image: url("images/trench.png");

  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.messageBox {
  text-align: center;
  padding: 15px;

  margin: auto;
  margin-top: 75px;

  border-bottom: 4px solid rgb(37, 19, 138);

  border-radius: 20px 20px 20px 20px;
  background-color: #3e5ff3;

  width: 30%;
}

.copyright {
  color: white;
  font-size: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  margin: 20px;
}

/* ====================================================================== */
/* Classes used by Javascript*/

/* Valid */
.valid {
  border: 2px solid lawngreen;
  outline: forestgreen solid 2px;
}

/* Invalid */

.invalid {
  border: 2px solid pink;
  outline: red solid 2px;
}

/* ====================================================================== */
/* Mobile Responsive 600px*/
/* max-width:  */
@media (max-width: 635px) {
  #mobileButton {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
  }

  .navContainer {
    margin: 0 0 0 0;
    text-align: center;
    align-items: center;
    background-position: center;
  }

  nav ul {
    display: none;
  }

  nav.responsive ul {
    margin: 10px 0;
    background-color: white;
    position: absolute;
    left: 0;
    top: 115px;
    width: 100%;
    display: block;
    z-index: 1;
  }

  nav.responsive ul li {
    display: block;
    padding: 10px;
    height: 100%;
  }

  nav.responsive li {
    color: #333;
    font-size: 1.5em;
  }

  nav.responsive li:hover {
    background-color: #006091;
    border-radius: 0px;
  }

  .headContainer {
    height: 38vh;
  }

  .portfolioHead {
    color: black;
    text-align: center;
    font-size: 5em;
  }

  .portfolioContainer {
    margin: 8em auto;
  }

  .formContainer {
    padding: 0px 10px !important;
  }

  .msg1Container {
    width: 275px;
    transform: rotate(-20deg);
    margin-left: 90px;
    margin-top: -35px;
    border: 2px solid black;
    padding: 10px 10px;
  }

  .msg1 {
    font-size: 4em;
  }

  .msg2Container {
    height: 100px;
    width: 160px;
    text-align: center;
    transform: rotate(25deg);
    margin-left: 210px;
    border: 2px solid black;
    padding: 0px 20px;
  }
  .row {
    display: block !important;
  }

  .col {
    width: 100% !important;
    padding: 0px !important;
  }

  /* footer {
    height: 35vh !important;
  } */
}
